@page
@model SimulationModel
@{
    ViewData["Title"] = "Simulation settings";
}
<h1>@ViewData["Title"]</h1>

<p>Add simulation settings and status here</p>

<p>Add simulation settings here:</p>

@* <form method="post">
    <div class="form-group">
        <label for="simulationName">Simulation Name:</label>
        <input type="text" id="simulationName" name="simulationName" class="form-control" />
    </div>

    <div class="form-group">
        <label for="simulationDuration">Simulation Duration:</label>
        <input type="number" id="simulationDuration" name="simulationDuration" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save Settings</button>
</form>


 *@



<form method="post">
    <div class="form-group">
        <label for="simulationName">Simulation Name:</label>
        <input type="text" id="simulationName" name="SimulationName" class="form-control" asp-for="SimulationName" />
    </div>

    <div class="form-group">
        <label for="simulationDuration">Simulation Duration:</label>
        <input type="number" id="simulationDuration" name="SimulationDuration" class="form-control" asp-for="SimulationDuration" />
    </div>

    <button type="submit" class="btn btn-primary">Save Settings</button>
</form>
