<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/a8905aaf-373c-4a59-9d3d-9b7710792436/resourcegroups/IoT/providers/Microsoft.ContainerRegistry/registries/NewDataMonitor</ContainerResourceId>
    <ContainerResourceName>NewDataMonitor</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>newdatamonitor.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>newdatamonitor</ContainerName>
    <EnvironmentName>NewDataMonitor-env-20231112145357</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://newdatamonitor-app-2023111214535.greenhill-3cc63af2.norwayeast.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a8905aaf-373c-4a59-9d3d-9b7710792436/resourceGroups/IoT/providers/Microsoft.App/containerApps/newdatamonitor-app-2023111214535</ResourceId>
    <ResourceGroup>IoT</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>